/*Themes Starts*/
@media only screen and (max-width: 767px) {
    .section-title::before {
      left: -14px;
    }
}

.achievement-area-custom{
    background: #f8f8f8;
}
/* .video-area-custom{
    background: #000;
} */
/* .bg-line-art{
    background: #f8f8f8 url("../img/raj-images/bg-8.jpg") 0 50%;
} */
.video-area::before {
    border: 0 !important;
}
.section-title h2{
    font-size: 44px !important;
}
@media only screen and (max-width: 991px) {
    .section-title h2{
        font-size: 32px !important;
    }
}
/*Themes Ends*/
.grid-container-custom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.grid-item-custom {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ecfff5+100&0+0,1+100 */
background: linear-gradient(135deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    align-items: top;
    /* font-weight: 600; */
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #a3a3a3;
}
.icon-custom {
    min-width: 32px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid #00a651;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-custom img{
    max-width: 14px;
}

@media (max-width: 768px) {
    .grid-container-custom {
        grid-template-columns: 1fr;
        gap: 8px;
    }
}
/* .abt-row-custom{
  background: green; 
} */
/* .abt-col-custom{
    background: #eee;
} */
.abt-col-custom:nth-child(1) h3{
    color: #2c93c4 !important;
}
.abt-col-custom:nth-child(1) svg path{
    fill: #2c93c4 !important;
}
.abt-col-custom:nth-child(2) h3{
    color: #edb51d !important;
}
.abt-col-custom:nth-child(2) svg path{
    fill: #edb51d !important;
}
.abt-col-custom:nth-child(3) h3{
    color: #2cc4b0 !important;
}
.abt-col-custom:nth-child(3) svg path{
    fill: #2cc4b0 !important;
}
.abt-col-custom:nth-child(4) h3{
    color: #e44848 !important;
}
.abt-col-custom:nth-child(4) svg path{
    fill: #e44848 !important;
}
.abt-col-custom:nth-child(5) h3{
    color: #d748e4 !important;
}
.abt-col-custom:nth-child(5) svg path{
    fill: #d748e4 !important;
}
.abt-col-custom:nth-child(6) h3{
    color: #00a651 !important;
}
.abt-col-custom:nth-child(6) svg path{
    fill: #00a651 !important;
}
/* .svg-custom{
    background: silver;
} */
.custon-h3{
    margin-left: 32px;
}
.visa-custom{
    background: #f8f8f8 ;
}
.custom-table table{
    border-color: #a3a3a3;
}
.custom-table th{
    background: #edfff6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 20px;
}
.custom-table td{
    padding: 12px 20px;
}

.two-col-custom{
    background: #fff;
}
.bootstrap-table table {
    caption-side: bottom;
    border-collapse: collapse;
    caption-side: bottom;
    margin-bottom: 1rem;
}
.bootstrap-table table > thead {
    vertical-align: bottom;
}
.bootstrap-table tbody, .bootstrap-table td, .bootstrap-table tfoot, .bootstrap-table th, .bootstrap-table thead, .bootstrap-table tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.bootstrap-table .table-bordered > :not(caption) > * > * {
    border-width: 0 1px;
}
.bootstrap-table .table-bordered > :not(caption) > * > * {
    border-width: 0 1px;
}
.bootstrap-table th{
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}
.bootstrap-table td{
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}
.popularandcost{
    color: #333333;
    font-weight: bold;
    margin-bottom: 16px;
}
.popularandcost span{
    color: #00a651;
}
.note-box-custom{
    background: #fff;
    width: 100%;
    max-width: 1014px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #a3a3a3;
}
.faq-section{
    background: #f8f8f8;
}
/* .accordion-custom{
    background: #ff00ff;
} */
.accordion-custom .card{
    margin-bottom: 8px;
}
.accordion-custom .card-header{
    background: none;
    border-bottom: none;
    padding: 0;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
}
.accordion-custom .accordion-button{
    color: rgba(0,0,0,.8);
    text-decoration: none;
    padding: 20px 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.accordion-custom .accordion-button:not(.collapsed){
    background: #f3fff9;
    color: #000;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
}
.accordion-custom .accordion-button:focus{
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px solid #d2d2d2;
}
.footer-form-custom{
    background: #fff ;
}
@media only screen and (max-width: 991px) {
    .pt-80 {
        padding-top: 30px;
    }
    .pb-80 {
        padding-bottom: 30px;
    }
    .pt-75{
        padding-top: 30px;
    }
    .pt-90 {
        padding-top: 30px;
    }
    .pb-50{
        padding-bottom: 30px;
    }
}

.billing-info-wrap .billing-info textarea{
    background: transparent none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    color: #333;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 10px;
}

.hellor{
  background: #fff;
  padding: 32px 0 24px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
    .hellor{
    padding: 70px 0;
  }
}

.hellor .container {
  z-index: 2;
}

.hello-wrap .hello-box{
  background: #fff;
  max-width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.hello-wrap .hello-col{
    margin-bottom: 28px;
}

.hello-wrap .hello-img{
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.hello-wrap .hello-img img{
    max-width: 100%;
}
.hello-wrap .hello-content{
    background: #fff;
    padding: 20px 25px;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    position: relative;
    z-index: 1;
}
.hello-wrap .hello-content h4{
    font-size: 22px;
    font-weight: 700;
}
.read-more-btn{
    padding: 10px 28px;
    background: #00a651;
    border-color: #00a651;
    border-radius: 100px;
    -webkit-border-radius: 100px;
}
.read-more-btn:hover{
    background: #333333;
    border-color: #333333;
}
.all-blog{
    background: #fff;
    padding: 32px 0 120px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
@media only screen and (min-width: 992px) {
        .all-blog{
        padding: 70px 0;
    }
}
.custom-tag{
    background: #00a651;
    padding: 2px 12px;
    color: #fff;
    position: absolute;
    top: -14px;
    left: 24px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.hello-date{
    font-size: 12px;text-align: right;
    margin-top: -12px;
    margin-bottom: 4px;
}